@import '../../../scss/variables';

.main-page__navigation-link {
  color: #fff;
  background-color: #808080;
  border-right: 1px solid #fff;

  &:hover,
  &:focus,
  &:active {
    background-color: #000;
  }
}

.main-page-title {
  color: $brand-color;
}
