@import '../../../scss/variables';
@import '../../product-item/scss/product-item.styles';

.app {
  margin-bottom: 30px;

  .content-menu {
    width: $app-max-width;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;

    img {
      width: 160px;
      height: 80px;
    }

    .content-menu__buttons {
      margin-top: 45px;

      button {
        padding: 5px 9px;
        margin-left: 30px;
        font-family: $app-font-family;
        font-size: 17px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: $title-text-color;
        transition: all 200ms;

        &:hover {
          color: $hover-text-color;
          border-bottom: 4px solid #fff;
          transition: $app-standard-transition;
        }
      }

      .active-menu__button {
        color: $hover-text-color;
        border-bottom: 4px solid #fff;
      }
    }
  }

  .cards-field {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
    grid-auto-flow: row dense;
  }
}
@media all and (max-width: $app-max-media-query) {
  .app {
    margin-bottom: 25px;

    .content-menu {
      width: $app-medium-width;
      margin: 15px 0;

      img {
        width: 140px;
        height: 70px;
      }

      .content-menu__buttons {
        margin-top: 35px;
      }
    }

    .cards-field {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
@media all and (max-width: $app-medium-media-query) {
  .app {
    margin-bottom: 20px;

    .content-menu {
      width: $app-min-width;
      margin: 10px 0;

      .WoT_logo {
        margin: 10px 0 0 10px;

        &::before {
          content: url('../../../assets/images/miniWoTLogo.png');
        }

        img {
          display: none;
        }
      }

      .content-menu__buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-top: 5px;

        button {
          margin-left: 20px;
          margin-bottom: 5px;
        }
      }
    }

    .cards-field {
      grid-template-columns: 1fr 1fr;
    }
  }
}
