@import '../../../scss/variables';

.error-block {
  width: 60vw;
  height: 500px;
  overflow: hidden;
}

.error-img__text {
  max-height: 500px;
  position: relative;
  font-size: 1.4em;
  letter-spacing: -0.05em;
  line-height: 0.7em;
  background-image: url(http://localhost:5000/assets/images/not-found.png);
  background-position: center 10vh;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  color: transparent;
}

@media all and (max-width: $app-max-media-query) {
  .error-block {
    width: $app-medium-width;
  }

  .error-img__text {
    background-size: $app-medium-width - 100px;
  }
}

@media all and (max-width: $app-medium-media-query) {
  .error-block {
    width: $app-min-width;
    height: 200px;
  }

  .error-img__text {
    font-size: 1.1em;
    background-size: $app-min-width - 20px;
  }
}
