@import '../../../scss/variables';
@import '../../../scss/flags';
@import '../../../scss/tank-type';
@import './cart-order.styles.scss';

.cart-field {
  width: $app-max-width;
  min-height: 70px;
  margin-top: 40px;
  padding: 30px 50px;
  border: 2px solid $favorites-border-color;
  border-radius: 10px;

  legend {
    padding: 0 10px 10px;
    font-family: $app-font-family;
    font-size: 30px;
    text-transform: uppercase;
    color: $title-text-color;
  }

  .cart-item {
    position: relative;
    width: $app-max-width - 102px;
    height: 160px;
    background: #ffffff06;
    border: 2px solid rgba(255, 255, 245, 0.8);
    border-radius: 10px;
    margin-bottom: 20px;

    &__info {
      margin-left: 70px;
      display: flex;
      align-items: center;
    }

    &__img-block {
      width: 200px;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__img {
      max-width: 200px;
      max-height: 160px;
    }

    &__text-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 420px;
      height: 150px;
      margin-left: 70px;
    }

    &__text {
      display: flex;
      align-items: center;
      font-family: $app-font-family;
      font-size: 18px;
      line-height: 1.2;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.33);
      color: $title-text-color;
      user-select: none;
      margin-bottom: 10px;

      .level {
        margin-right: 8px;
      }
    }

    &__description {
      height: 70px;
      padding-right: 10px;
      text-align: justify;
      font-family: $app-font-family;
      font-size: 12px;
      line-height: 1.2;
      font-weight: 400;
      letter-spacing: 0.1em;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.33);
      color: $title-text-color;
      overflow-y: auto;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 150px;
      margin-left: 60px;
    }

    &__price-block {
      display: flex;
      width: 120px;
      align-items: center;

      .price {
        display: inline-block;
        font-family: $app-font-family;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.33);
        color: $price-now-color;
        cursor: default;
        user-select: none;
      }

      .old-price {
        color: $old-price-color;
        text-decoration: line-through;
        margin-right: 15px;
      }
    }

    .like-btn {
      position: absolute;
      left: 280px;
      top: 2px;
      align-self: center;
      width: 30px;
      height: 30px;
      margin-top: 20px;

      &__icon {
        width: 100%;
        height: 100%;
        opacity: 0.7;
        fill: none;
        transition: $app-standard-transition;
      }
    }

    .like-btn__active {
      .like-btn__icon {
        fill: #fff;
        opacity: 0.6;
      }
    }

    .discount {
      position: absolute;
      background: $discount-background;
      color: $discount-text-color;
    }

    .discount-percent {
      clip-path: circle(60% at 1% 0);
      width: 90px;
      height: 90px;
      top: 0;
      left: 0;
      border-top-left-radius: 10px;
      font-size: 14px;
      padding: 14px 0 0 9px;
    }

    .discount-price {
      width: fit-content;
      height: 24px;
      top: 10px;
      left: 10px;
      padding: 0 12px;
      border-radius: 5px;
      font-size: 13px;
      line-height: 24px;
    }

    .cart__delete-button {
      position: absolute;
      width: 40px;
      height: 40px;
      top: 10px;
      right: 15px;
      fill: #999;
      padding: 6px;
      cursor: pointer;
      user-select: none;

      &:hover {
        fill: $delete-button-color;
        border: 1px solid $delete-button-color;
        border-radius: 50%;
      }
    }
  }

  .cart-order-button {
    align-self: center;
    width: 400px;
    height: 45px;
    margin-bottom: 15px;
    bottom: 30px;
    border-radius: 3px;
    border: 1px solid $purchase-button-background;
    background: none;
    font-family: $app-font-family;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: $purchase-text-color;
    transition: $app-standard-transition;

    &:hover {
      background-color: $purchase-button-background;
    }
  }

  .empty-message {
    display: inline-block;
    margin-bottom: 10px;

    font-size: 18px;
    color: $title-text-color;
  }
}

@media all and (max-width: $app-max-media-query) {
  .cart-field {
    width: $app-medium-width;

    .cart-item {
      position: relative;
      width: $app-medium-width - 102px;
      height: 160px;

      &__info {
        margin-left: 40px;
      }

      &__img-block {
        width: 170px;
        height: 150px;
      }

      &__img {
        max-width: 170px;
      }

      &__text-block {
        width: 420px;
        height: 150px;
        margin-left: 40px;
      }

      &__text {
        font-size: 16px;
      }

      &__description {
        height: 70px;
      }

      &__wrapper {
        width: 220px;
        height: 100px;
        margin-left: 40px;
      }

      &__price-block {
        margin-top: 10px;
        flex-wrap: wrap;

        .price {
          margin-right: 5px;
          font-size: 15px;
          margin-bottom: 10px;
        }

        .old-price {
          margin-right: 15px;
        }
      }

      .like-btn {
        left: 170px;
        align-self: flex-start;
        margin-left: 35px;
      }

      .discount-percent {
        clip-path: circle(60% at 1% 0);
        width: 80px;
        height: 80px;
        font-size: 13px;
        padding: 12px 0 0 9px;
      }

      .discount-price {
        top: 0;
        left: 0;
        border-radius: 10px 0;
        font-size: 12px;
      }

      .cart__delete-button {
        width: 35px;
        height: 35px;
        top: 10px;
        right: 10px;
        padding: 4px;
      }
    }

    .cart-order-button {
      width: 300px;
    }
  }
}
@media all and (max-width: $app-medium-media-query) {
  .cart-field {
    width: $app-tablet-width;
    padding: 30px;

    .cart-item {
      position: relative;
      width: $app-tablet-width - 62px;
      height: 160px;

      &__info {
        margin-left: 40px;
      }

      &__img-block {
        width: 120px;
        height: 100px;
      }

      &__img {
        max-width: 120px;
      }

      &__text-block {
        width: 420px;
        height: 150px;
        margin-left: 20px;
      }

      &__text {
        font-size: 14px;
      }

      &__description {
        height: 70px;
        font-size: 11px;
      }

      &__wrapper {
        width: 220px;
        height: 100px;
        margin-left: 20px;
      }

      &__price-block {
        margin-top: 10px;
        flex-wrap: wrap;

        .price {
          margin-right: 5px;
          font-size: 14px;
          margin-bottom: 10px;
        }
      }

      .like-btn {
        left: 110px;
        align-self: flex-start;
      }
    }

    .cart-order-button {
      width: 250px;
    }
  }
}

@media all and (max-width: $app-tablet-media-query) {
  .cart-field {
    width: $app-min-width;
    margin-top: 20px;
    padding: 15px;

    .cart-item {
      position: relative;
      width: $app-min-width - 32px;
      height: 125px;

      &__info {
        margin-top: 5px;
        margin-left: 10px;
      }

      &__img-block {
        width: 100px;
        height: 140px;
      }

      &__img {
        max-width: 100px;
      }

      &__text-block {
        width: 0;
        height: 0;
        margin-left: 0;
      }

      &__text {
        position: absolute;
        top: 15px;
        left: 35px;
        font-size: 13px;

        .flag,
        .tank-type {
          margin-right: 3px;
          transform: scale(0.8);
        }

        .item-name {
          width: 120px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      &__wrapper {
        width: 100px;
        height: 100px;
        margin-left: 0;
      }

      &__price-block {
        margin-top: 0;
        margin-left: 10px;

        .price {
          margin-right: 5px;
          font-size: 14px;
          margin-bottom: 4px;
        }
      }

      .like-btn {
        position: initial;
        align-self: center;
        width: 25px;
        height: 25px;
        margin: 0;
      }

      .discount-percent {
        clip-path: circle(60% at 1% 0);
        width: 60px;
        height: 60px;
        font-size: 12px;
        padding: 7px 0 0 5px;
      }

      .discount-price {
        top: 0;
        left: 0;
        border-radius: 10px 0;
        padding: 0 8px;
        height: 15px;
        line-height: 15px;
        font-size: 8px;
      }

      .cart__delete-button {
        width: 30px;
        height: 30px;
        top: 5px;
        right: 5px;
      }
    }

    .cart-order-button {
      width: 200px;
    }
  }
}

@media (hover: hover) {
  .cart-field {
    .cart-item {
      .like-btn__icon:hover {
        fill: #fff;
        transition: $app-standard-transition;
      }
    }
  }
}
