@import '../../../scss/variables';

.card__single {
  .like-btn {
    height: 30px;
    top: 21px;

    &__icon {
      width: 100%;
      height: 100%;
      opacity: 0.7;
      fill: none;
      transition: $app-standard-transition;

      &:hover {
        fill: #fff;
        transition: $app-standard-transition;
      }
    }
  }

  .like-btn__active {
    .like-btn__icon {
      fill: #fff;
      opacity: 0.6;
    }
  }

  .purchase-btn {
    width: 150px;
    height: 45px;
    bottom: 30px;
    border-radius: 3px;
    border: 1px solid $purchase-button-background;
    background: none;
    font-family: $menu-font-family;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: $purchase-text-color;
    transition: $app-standard-transition;

    &:hover {
      background-color: $purchase-button-background;
    }

    &__active {
      background-color: $purchase-button-background;

      &:hover {
        color: $purchase-button-background;
        background-color: $purchase-text-color;
      }
    }
  }
}
