.spinner {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.spinner.hidden {
  display: none;
}

.machine {
  width: 25vw;
  fill: #ff8900;
}

.small {
  animation: counter-rotation 2.5s infinite linear;
  transform-origin: 100.136px 225.345px;
}

.medium {
  animation: rotation 3.75s infinite linear;
  transform-origin: 254.675px 379.447px;
}

.large {
  animation: counter-rotation 5s infinite linear;
  transform-origin: 461.37px 173.694px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes counter-rotation {
  from {
    transform: rotate(359deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.display-none {
  display: none;
}
