.navigation {
  @include flex-center-aligned;
}

.navigation-link {
  padding: 20px;

  color: $main-light-color;
  background-color: $main-dark-color;
  border-right: 1px solid $main-light-color;

  &:hover,
  &:focus,
  &:active {
    color: $main-dark-color;
    background-color: $main-light-color;
    outline: 1px solid $main-dark-color;
  }
}

.navigation-link:last-of-type {
  border: 0;
}
