html {
  font-size: $font-size;
  font-family: $font-family;
  color: $font-color;
  line-height: 1.4;

  background: $main-light-color;
}

body {
  margin: 0;

  text-align: center;
}

h1 {
  margin: 0 0 2rem;
}

.image {
  display: inline-block;
  width: 100px;
  height: 100px;

  background-image: url('../assets/images/example.png');
  background-size: cover;
}

#root {
  max-width: 650px;
  margin: auto;

  background-color: $background-color;
}

.bold {
  font-weight: bold;
}

.red {
  color: $red-color;
}

#button {
  margin: 20px;
}

.link {
  color: inherit;

  text-decoration: none;
}
