$page-width: 1200px;

// FONTS
$font-size: 1rem;
$font-family: 'Inter', sans-serif;

// COLORS
$font-color: #121212;
$main-light-color: #fff;
$main-dark-color: #789;
$background-color: #5f9ea0;
$red-color: #f00;
$brand-color: #1900ff;

// MEDIA
$desktop-width: 1200px;
$tablet-width: 1023px;
$mobile-width: 700px;
