// FONTS
$menu-font-family: "Roboto Condensed", sans-serif;

// COLORS
$header-background: #000000;
$footer-background: #000000;
$card-background: rgba(0, 0, 0, 0.21);
$card-hover-background: rgba(0, 0, 0, 0.6);
$title-text-color: #cccccc;
$hover-text-color: #ffffff;
$price-color: #d1b482;
$discount-background: #a61c00;
$discount-text-color: #ffffff;
$purchase-button-background: #e95104;
$purchase-text-color: #ffffff;

//SIZE
$logo-width: 154px;
$nav-menu-width: calc(100% - #{$logo-width});
