@import '../../../../../scss/variables';

.swiper {
  position: relative;
  display: flex;
  width: 70%;
}

.slides-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: grab;
}

.swiper-slide {
  position: relative;
  display: none;
  animation: 0.5s ease-in-out;
}

.slide-image {
  width: 100%;
}

.active,
.next {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
}

.control-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: invert(100%);
  opacity: 0.4;

  &-left {
    order: -1;
  }

  &-right {
    right: 0;
  }

  &:hover {
    opacity: 0.9;
  }
}

.control {
  height: 80px;

  &-left {
    transform: rotate(180deg);
  }

  &-right,
  &-left {
    width: 72px;
    background-image: url('../assets/arrow.png');
    background-repeat: no-repeat;
    background-position: center;

    filter: drop-shadow(0 2px 2px rgba(255, 255, 255, 0.6));

    &:hover {
      filter: drop-shadow(0 4px 4px rgba(255, 255, 255, 0.6));
    }
  }
}

.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}
@media all and (max-width: $app-max-media-query) {
  .control {
    height: 50px;
  }
}
@media all and (max-width: $app-medium-media-query) {
  .swiper {
    width: 100%;
  }

  .control-wrapper {
    display: none;
  }
}
