@import '../../../scss/variables';

.popup-layout {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  overflow: auto;
}

.popup {
  position: relative;
  width: 700px;
  margin: auto;
  padding: 0;
  background-color: #f4f5fa;
  border-radius: 6px;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.5);
  animation-name: appearance-from-top;
  animation-duration: 0.4s;
}

.popup__header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1rem;
  color: #fff;
  background-color: #e00a0a;
  border-radius: 5px 5px 0 0;
}

.popup__close-button {
  width: 30px;
  height: 30px;
  fill: #fff;
  opacity: 0.7;
  cursor: pointer;
}

.popup__close-button:hover,
.popup__close-button:focus {
  opacity: 1;
  transition: $app-standard-transition;
}

.popup-body__text {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  padding: 1rem;
  border-radius: 5px 5px 0 0;
}

@keyframes appearance-from-top {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@media all and (max-width: $app-max-media-query) {
  .popup {
    width: 600px;
  }
}

@media all and (max-width: $app-medium-media-query) {
  .popup {
    width: 290px;
  }
}
